<section id="intro">
  <h1>Bienvenue sur SkillMap</h1>
  <p>
    Explorez mes projets et compétences, notamment dans le développement web,
    l'intelligence artificielle et l'analyse de données.
  </p>
</section>

<section id="projects">
  <h2>Projets</h2>
  <p>
    Découvrez mes réalisations dans le développement web, la programmation et la
    gestion de projets :
  </p>
  <ul>
    <li>
      <strong>Application SaaS de gestion des données clients :</strong>
      Développement backend en WinDev/WebDev et optimisation de l'interface
      utilisateur pour une expérience fluide.
    </li>
    <li>
      <strong>Site web de vente de photos en ligne :</strong> Développé en
      Angular et Node.js, permettant aux utilisateurs de commander des photos
      personnalisées.
    </li>
    <li>
      <strong>Solutions logicielles .NET :</strong> Développées lors de mon
      stage de fin d'études chez Eurotunnel, en mettant en œuvre des
      méthodologies Agile.
    </li>
  </ul>
</section>

<section id="about">
  <h2>À propos</h2>
  <p>
    Je suis un jeune diplômé en ingénierie informatique passionné par le
    développement web et l’intelligence artificielle. Grâce à mon esprit
    analytique et mon adaptabilité, je m’investis pleinement pour concevoir des
    solutions innovantes. Mon expérience inclut :
  </p>
  <ul>
    <li>
      Maîtrise de multiples langages de programmation : C, C++, Java, Python,
      JavaScript.
    </li>
    <li>
      Expertise en frameworks modernes : Angular, Spring, TensorFlow,
      scikit-learn.
    </li>
    <li>
      Compétences en gestion de projets Agile et en coordination d’équipes.
    </li>
  </ul>
  <p>
    Mes expériences variées, de la conception de logiciels à la gestion de bases
    de données, m’ont permis de développer une polyvalence et une capacité
    d’adaptation à différents environnements.
  </p>
</section>

<section id="contact">
  <h2>Contact</h2>
  <p>
    Pour toute demande, n'hésitez pas à me
    <a href="mailto:tom@moneret.fr">contacter</a> ou à consulter mes profils :
  </p>
  <ul>
    <li>
      <a href="https://linkedin.com/in/tom-moneret" target="_blank">LinkedIn</a>
    </li>
    <li><a href="https://github.com/ToTommm5/" target="_blank">GitHub</a></li>
  </ul>
</section>
